* {
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  background-color: antiquewhite;
  padding: 10px;
}

input {
  margin: 5px;
  width: 50%;
}

button {
  height: 30px;
  appearance: none;
  border: 1px solid #fff;
  border-radius: 7px;
  background-color: slateblue;
  color: white;
  margin: 5px;
}

.create-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid purple;
  border-radius: 10px;
  padding: 20px;
}

.user {
  border: 1px solid purple;
  border-radius: 7px;
  margin-top: 10px;
  padding: 5px;
}
